
.bfc{
  background-color: gray;
  border: 1px solid #c5bdb0;
  /* overflow: auto; */
  display: flow-root;
}
.a{
  width: 150px;
  height: 200px;
  float: left;
  border: 1px solid green;
}
.b{
  float: left;
}
